body {
  font-family: "Poppins", serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: linear-gradient(to bottom, rgba(38, 39, 41, 0.829), rgba(33, 37, 41, 0.555)), url("https://images.pexels.com/photos/5779781/pexels-photo-5779781.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") ;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  filter: saturate(130%);
}

/* Shape divider */
.custom-shape-divider-top-1731543389 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1731543389 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 129px;
}

.custom-shape-divider-top-1731543389 .shape-fill {
  fill: #FFFFFF;
}


/* Mis trabajos */

#Mis-trabajos {
  background-image: url("https://img.freepik.com/free-vector/linear-flat-abstract-lines-pattern_23-2148950145.jpg?t=st=1731543173~exp=1731546773~hmac=1be8746d35012f202162e909fd2205976d593c8be6271e419084c4837db5d9bc&w=826");
  background-blend-mode: multiply;
}

#Mis-trabajos .card-img-container {
  height: 400px;
  overflow: hidden;
  cursor: pointer;
}

#Mis-trabajos .card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

#Mis-trabajos .card-img-container img:hover {
  transform: scale(1.1);
}
/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

#Contacto input:focus, #Contacto textarea:focus {
  border-color: #ffc516 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.288) !important;

}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
